<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Link</title>
</head>
<body>
    <h1>Adicionar Link</h1>
    <div>
        <form action="/addLink" method="POST">
            <input type="text" name="title" id="title" placeholder="Título" required>
            <input type="text" name="description" id="description" placeholder="Descrição">
            <input type="text" name="url" id="url" placeholder="Link" required>
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>